
@{
    ViewData["Title"] = "Success";
}

@model ContactManager.Models.ISP.Order

<h1>Success!</h1>
<h2>Your order (# @Model.OrderId) has been placed successfully!</h2>
<a asp-controller="ProcessOrder" asp-action="Index">Go Back</a>

